body {
    font-family: 'Open Sans', sans-serif;
}

.bg-brand {
    background-color: rgba(18, 91, 140, 1);
}

.doc-container {
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

@media (min-width: 992px) {
    .doc-container {
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        gap: 1.5rem;
        grid-template-areas: "sidebar-nav main sidebar-toc";
        max-width: 1320px;
    }

    .article-toc {
        position: sticky;
        top: 6rem;
        right: 0;
        height: calc(100vh - 20rem);
    }
}

.sidebar-nav {
    position: fixed;
    top: 0;
    left: -280px;
    min-width: 280px;
    max-width: 280px;
    height: 100vh;
    background-color: #293042;
    font-size: .875rem;
    color: #fff;
    overflow-y: auto;
    transition: margin-left .35s ease-in-out,left .35s ease-in-out,margin-right .35s ease-in-out,right .35s ease-in-out;
    z-index: 100;
}

.sidebar-nav.collapse {
    left: 0;
    transition: left .35s ease-in-out,left .35s ease-in-out,margin-right .35s ease-in-out,right .35s ease-in-out;
}

@media (min-width: 1025px) {
    .sidebar-nav {
        position: static;
        left: 0;
        height: auto;
        transition: margin-left .35s ease-in-out,left .35s ease-in-out,margin-right .35s ease-in-out,right .35s ease-in-out;
    }

    .sidebar-nav.collapse {
        left: auto;
        margin-left: -280px;
        transition: margin-left .35s ease-in-out,left .35s ease-in-out,margin-right .35s ease-in-out,right .35s ease-in-out;
    }
}

.sidebar-nav a {
    color: var(--light);
    text-decoration: none;
}

.sidebar-nav ul {
    margin-bottom: 3rem;
}

.sidebar-nav li {
    margin-top: 1rem;
    margin-left: 1.5rem;
}